<!doctype html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <title>Lviv Project University</title>
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="./css/main.min.css">
</head>
<body>

    <header id="header" class="header">
        <div class="logo">
            <a href="#" class="logo__link">
                <img class="logo__icon" src="./img/logo.png" alt="Lviv Project University" height="80px" width="80px">
                <span class="logo__caption">Львівський проектний інститут</span>
            </a>
        </div>

        <a class="menu"><span></span></a>

        <nav class="navigation">
            <ul class="navigation--wrapper">
                <li class="navigation__item"><a href="./services.html" class="navigation__link">Послуги</a></li>
                <li class="navigation__item"><a href="./projects.html" class="navigation__link">Проекти</a></li>
                <li class="navigation__item"><a href="./clients.html" class="navigation__link">Клієнти</a></li>
                <li class="navigation__item"><a href="./company.html" class="navigation__link">Компанія</a></li>
                <li class="navigation__item"><a href="./blog.html" class="navigation__link">Блог</a></li>
                <li class="navigation__item"><a href="./contacts.html" class="navigation__link">Контакти</a></li>
            </ul>
        </nav>

        <div class="chooseLanguage">
            <button class="chooseLanguage__item">UA</button>
            <button class="chooseLanguage__item">RU</button>
            <button class="chooseLanguage__item">EN</button>
        </div>

    </header>

    <main id="mainContent" class="main-content">

        <section class="blog">
            <div class="blog__item blog-description">
                <h2 class="blog-description__title title">Блог</h2>
                <p class="blog-description__caption">Some caption for blog article</p>
                <p class="blog-description__legend">З часу утворення організації за її проектами успішно реалізовано в Україні та на території країн СНД понад 400 об'єктів промслового та громадського призначення, а також їх інфраструктури.</p>
                <p class="blog-description__legend">З 2010 року в компанії впроваджена система управління якістю за стандартами ДСТУ ISO 9001:2008</p>
                <a href="#" class="blog-description__link link">Дізнатись більше</a>
            </div>
        
            <div class="blog_item blog-img">
                <a class="blog-img__link">
                    <img src="" alt="">
                </a>
            </div>
        </section>

        <section class="blog-goals">
            <div class="blog-goals--wrapper goals-group">
                <div class="goals-group__item goals-description">
                    <span class="goals-description__icon goals-description__icon1"></span>
                    <span class="goals-description__number">400+</span>
                    <p class="goals-description__legend">Реалізовано об’єктів промислового та громадського призначення</p>
                </div>
                <div class="goals-group__item goals-description">
                    <span class="goals-description__icon goals-description__icon2"></span>
                    <span class="goals-description__number">62</span>
                    <p class="goals-description__legend">Роки на ринку проектування об’єктів промислового і громадського призначення</p>
                </div>
                <div class="goals-group__item goals-description">
                    <span class="goals-description__icon goals-description__icon3"></span>
                    <span class="goals-description__number">400+</span>
                    <p class="goals-description__legend">Реалізовано об’єктів промислового та громадського призначення</p>
                </div>
            </div>
        </section>

        <section class="blog-slider">
        <!-- SLICK BLOG SLIDER -->
        </section>

        <section class="blog-articles">
            <div class="blog-articles--wrapper">
                <h2 class="blog-articles__title"></h2>
                <div class="blog-articles__box articles-group">
                    <article class="articles-group__item article">
                        <a href="" class="article__link">
                            <img class="article__icon" src="" alt="Article">
                            <p class="article__legend">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </a>
                    </article>
                    <article class="articles-group__item article">
                        <a href="" class="article__link">
                            <img class="article__icon" src="" alt="Article">
                            <p class="article__legend">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </a>
                    </article>
                    <article class="articles-group__item article">
                        <a href="" class="article__link">
                            <img class="article__icon" src="" alt="Article">
                            <p class="article__legend">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </a>
                    </article>
                    <article class="articles-group__item article">
                        <a href="" class="article__link">
                            <img class="article__icon" src="" alt="Article">
                            <p class="article__legend">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </a>
                    </article>
                </div>
            </div>

        </section>

        <section class="location">
            <div class="location--wrapper">
                <h2 class="location__title title">Локація</h2>
                <div class="location__footer footer-description">
                    <h3 class="footer-description__title"></h3>
                    
                    <div class="footer-footer-description__address footer-address">
                        <span class="footer-address__item">вул.В.Великого, 52</span>
                        <span class="footer-address__item">м.Львів, 79053</span>
                        <span class="footer-address__item">Україна</span>
                    </div>

                    <div class="footer-description__contacts footer-contacts">
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Приймальна:</span>
                            <a href="" class="contacts-link__item">+38(032)263-35-55</a>
                        </div>
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Факс:</span>
                            <a href="" class="contacts-link__item">+38(032)241-79-80</a>
                        </div>
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Відділ продажу:</span>
                            <a href="" class="contacts-link__item">+38(067)354-07-99</a>
                        </div>
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Відділ маркетингу:</span>
                            <a href="" class="contacts-link__item">+38(098)684-86-07</a>
                        </div>
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Email:</span>
                            <a href="" class="contacts-link__item">inaj@lpi.com, office@lpi.cpm.ua</a>
                        </div>
                    </div>
                </div>
                <div class="location__link">
                    <a href="" class="location__link-item">Написать нам</a>
                </div>
            </div>
        </section>
        
    </main>

    <footer id="footer" class="footer">        
        <p class="copyright">&copy; qmpwwsd</p>
    </footer>

    <!--    <svg class="">
        <use xlink:href="./img/svg/sprite.svg#009-flamingo"></use>
    </svg>
    <svg class="">
        <use xlink:href="./img/svg/sprite.svg#004-dinosaur"></use>
    </svg>-->

    <script src="./js/main.js"></script>
    </body>
</html>