<!doctype html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <title>Lviv Project University</title>
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="./css/main.min.css">
</head>
<body>

    <header id="header" class="header">
        <div class="logo">
            <a href="#" class="logo__link">
                <img class="logo__icon" src="./img/logo.png" alt="Lviv Project University" height="80px" width="80px">
                <span class="logo__caption">Львівський проектний інститут</span>
            </a>
        </div>

        <a class="menu"><span></span></a>

        <nav class="navigation">
            <ul class="navigation--wrapper">
                <li class="navigation__item"><a href="./services.html" class="navigation__link">Послуги</a></li>
                <li class="navigation__item"><a href="./projects.html" class="navigation__link">Проекти</a></li>
                <li class="navigation__item"><a href="./clients.html" class="navigation__link">Клієнти</a></li>
                <li class="navigation__item"><a href="./company.html" class="navigation__link">Компанія</a></li>
                <li class="navigation__item"><a href="./blog.html" class="navigation__link">Блог</a></li>
                <li class="navigation__item"><a href="./contacts.html" class="navigation__link">Контакти</a></li>
            </ul>
        </nav>

        <div class="chooseLanguage">
            <button class="chooseLanguage__item">UA</button>
            <button class="chooseLanguage__item">RU</button>
            <button class="chooseLanguage__item">EN</button>
        </div>

    </header>

    <main id="mainContent" class="main-content">

        <section class="project-header">
            <div class="project-header--wrapper">

                <div class="project-header__logo">
                    <img src="" alt="Logo project">
                </div>

                <h1 class="project-header__title title"><b class="bold">Фабрика варіння </b>та розливу пива та квасу</h1>

            </div>
        </section>

        <section class="project">
            <div class="project--wrapper">
                <div class="project__item project-img">
                    <div class="project-img--before" onclick="showForm()"></div>
                    <div class="project-img--after" onclick="showForm()"></div>        
                </div>
                <div class="project__item project-description">
                    <h3 class="project-description__title">ТОВ ТВК "Перша приватна броварня"</h3>
                    <p class="project-description__legend">Яскравий приклад нового українського виробника, який походить із західного регіону і досягнув національного успіху завдяки власним зусиллям. Проект, створений ЛПІ, передбачає ефективне використання площ броварні шляхом реконструкції одноповерхових приміщень в багатоповерхові адміністративно-виробничі корпуси</p>

                    <ul class="project-description__list advantage-list">
                        <li class="advantage-list__item advantage">
                            <span class="advantage__icon advantage__icon1"></span>
                            <span>Адреса:</span>
                            <span>м. Львів, вул. Джорджа Вашингтона, 10</span>
                        </li>
                        <li class="advantage-list__item advantage">
                            <span class="advantage__icon advantage__icon2"></span>
                            <span>Клієнт:</span>
                            <span>ТОВ ТВК "Перша приватна броварня" </span>
                        </li>
                        <li class="advantage-list__item advantage">
                            <span class="advantage__icon advantage__icon3"></span>
                            <span>Площа приміщень:</span>
                            <span>~ 11 300 м<sup>2</sup></span>
                        </li>
                        <li class="advantage-list__item advantage">
                            <span class="advantage__icon advantage__icon4"></span>
                            <span>Сума інвестицій:</span>
                            <span>~ € 5 млн.</span>
                        </li>
                        <li class="advantage-list__item advantage">
                            <span class="advantage__icon advantage__icon5"></span>
                            <span>Стадії проектування:</span>
                            <span>"Робочий проєкт", "Робоча документація"</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="location">
            <div class="location--wrapper">
                <h2 class="location__title title">Локація</h2>
                <div class="location__footer footer-description">
                    <h3 class="footer-description__title"></h3>
                    
                    <div class="footer-footer-description__address footer-address">
                        <span class="footer-address__item">вул.В.Великого, 52</span>
                        <span class="footer-address__item">м.Львів, 79053</span>
                        <span class="footer-address__item">Україна</span>
                    </div>

                    <div class="footer-description__contacts footer-contacts">
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Приймальна:</span>
                            <a href="" class="contacts-link__item">+38(032)263-35-55</a>
                        </div>
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Факс:</span>
                            <a href="" class="contacts-link__item">+38(032)241-79-80</a>
                        </div>
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Відділ продажу:</span>
                            <a href="" class="contacts-link__item">+38(067)354-07-99</a>
                        </div>
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Відділ маркетингу:</span>
                            <a href="" class="contacts-link__item">+38(098)684-86-07</a>
                        </div>
                        <div class="footer-contacts__item contacts-link">
                            <span class="contacts-link__caption">Email:</span>
                            <a href="" class="contacts-link__item">inaj@lpi.com, office@lpi.cpm.ua</a>
                        </div>
                    </div>
                </div>
                <div class="location__link">
                    <a href="" class="location__link-item">Написать нам</a>
                </div>
            </div>
        </section>

    </main>

    <footer id="footer" class="footer">        
            <p class="copyright">2020 &copy; Львівський проектний інститут</p>
    </footer>

<!--    <svg class="">
        <use xlink:href="./img/svg/sprite.svg#009-flamingo"></use>
    </svg>
    <svg class="">
        <use xlink:href="./img/svg/sprite.svg#004-dinosaur"></use>
    </svg>-->

    <script src="./js/main.js"></script>
</body>
</html>