@import "../helpers/var"

.blog
    display: flex
    width: 100%
    padding: 10vh 0 0

    &--wrapper
        display: grid
        grid-template-columns: auto minmax(40vw, 35vw)
        width: 75%
        margin: 0 auto
        align-items: center
        justify-items: flex-end

    &__item
        display: flex
        width: 100%

.blog-description
    flex-direction: column
    justify-content: space-evenly
    padding: 15% 10% 15% 0
    &__title
        font-size: calc(0.25rem + 2.25vw)
        width: 100%
        display: inline-block
        // padding: 0 0 2.5%
        line-height: calc(0.5rem + 3vw)

    &__caption
        display: inline-block
        font-size: calc(0.25rem + 1.25vw)
        width: 100%
        padding: calc(0.5rem + 0.5vw) 0
        font-weight: 600
        line-height: calc(0.5rem + 1.5vw)

    &__legend
        margin: calc(0.5rem + 0.5vw) 0
        display: inline-block
        font-size: calc(0.25rem + 0.75vw)
        line-height: calc(0.5rem + 1.25vw)
        text-align: justify
        width: 100%

    &__link
        display: inline-block
        margin: calc(0.5rem + 0.5vw) 0
        padding: calc(0.5rem + 0.5vw)
        border: 1px solid $light-blue
        width: 35%
        text-align: center
        line-height: calc(0.5rem + 0.75vw)
        font-size: calc(0.25rem + 0.6vw)

.blog-img
    text-align: right
    justify-content: center
    width: 75%

    &__link
        display: flex
        width: 100%
        height: 100%
        overflow: hidden

        img
            width: 100%
            height: 100%
            object-fit: cover
@media screen and ( max-width: 1366px)
    .blog-description
        &__title
            font-size: calc(.5rem + 3.25vw)

@media screen and ( max-width: 1280px)
    .blog
        &--wrapper
            width: 85%

@media screen and ( max-width: 768px)
    .blog-description
        &__title
            font-size: calc(.25rem + 5.5vw)

        &__caption
            font-size: calc(.25rem + 2vw)

        &__legend
            font-size: calc(.25rem + 1.5vw)
            line-height: calc(.5rem + 1.5vw)
        &__link
            width: 100%
            font-size: calc(.25rem + 1.5vw)

@media screen and ( max-width: 700px)
    .blog
        padding: 17.5% 0 0
        &--wrapper
            grid-template-columns: repeat(1, 1fr)
    .blog-description
        padding: 3.5vh 0
        &__title
            font-size: calc(.25rem + 5vw)

        &__caption
            font-size: calc(.25rem + 3vw)

        &__legend
            font-size: calc(.25rem + 1.5vw)
            line-height: calc(.5rem + 2vw)
        &__link
            font-size: calc(.25rem + 1.5vw)
            width: 35%
    .blog-img
        width: 60%
        justify-self: center

@media screen and ( max-width: 480px)
    .blog-description
        &__title
            font-size: calc(.75rem + 7.5vw)
            line-height: calc(.75rem + 7.5vw)

        &__caption
            font-size: calc(.5rem + 3.25vw)
            line-height: calc(.5rem + 4vw)

        &__legend
            font-size: calc(.5rem + 2vw)
            line-height: calc(.5rem + 3.5vw)
        &__link
            width: 100%
            padding: 1rem
            font-size: calc(.25rem + 2.5vw)

    .blog-img
        width: 100%
