@import "../helpers/var"

.blog-articles
    width: 100%
    display: flex

    &--wrapper
        width: 75%
        margin: 0 auto
        display: flex
        flex-direction: column
        padding: 5% 0

    &__title
        font-size: $fons-size-title
        line-height: $line-height-title
        width: 100%
        display: flex
        text-align: left
        position: relative
        &::before
            position: absolute
            top: 0
            left: 0
            transform: translate(-15%, 0%)
            width: 100%
            height: 100%
            display: block
            content: "Статті"
            font-size: $fons-size-title--before
            // line-height: calc(0.75rem + 2.75vw)
            color: $title-before

.articles-group
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
    align-items: center
    padding: 2.5% 0

    &__item
        display: flex
        width: 50%
        padding: 1.5% 2.5% 1.5% 0
        margin: 0 auto

.article
    &__icon
        background: $light-blue url('../img/5.png') center / cover no-repeat
        width: calc(0.5rem + 5vw)
        height: calc(0.5rem + 5vw)
        display: inline-block
        margin-right: 1rem

    &__legend
        display: flex
        text-align: justify
        align-items: center
        font-size: calc(0.25rem + 0.7vw)
        line-height: calc(0.5rem + 1.25vw)

@media screen and ( max-width: 1280px)
    .blog-articles
        &--wrapper
            width: 85%

        &__title
            &::before
                transform: translate(-7.5%, 0)

@media screen and ( max-width: 768px)

    .blog-articles
        &__title
            font-size: calc(0.25rem + 4vw)
            line-height: calc(0.5rem + 4vw)
            &::before
                font-size: calc(2.5rem + 3.5vw)

    .article
        &__legend
            font-size: calc(0.25rem + 1.1vw)
            line-height: calc(0.5rem + 1.25vw)

@media screen and ( max-width: 700px)
    .articles-group
        &__item
            width: 100%
            justify-content: flex-start
            padding: 2.5% 2.5% 2.5% 0

    .article
        &__icon
            width: calc(1rem + 5vw)
            height: calc(1rem + 5vw)
        &__legend
            font-size: calc(0.25rem + 1.75vw)
            line-height: calc(0.5rem + 1.5vw)

@media screen and ( max-width: 480px)
    .blog-articles
        &__title
            font-size: calc(0.25rem + 6vw)
            line-height: calc(0.5rem + 6vw)

    .articles-group
        &__item
            padding: 2.5% 2.5% 2.5% 0

    .article
        &__icon
            width: calc(1.5rem + 15vw)
            height: calc(1.5rem + 15vw)
        &__legend
            font-size: calc(0.5rem + 1.75vw)
            line-height: calc(0.5rem + 1.5vw)
