@import "./src/sass/helpers/var"

.contacts
  padding: 7.5% 0 0
  width: 100%

  &--wrapper
    display: flex
    flex-direction: column
    width: 100%
    margin: 0 auto

  &__title
    display: flex
    padding: calc(2% + 1.5vw) 12.5%
    font-size: calc(0.25rem + 2vw)
    line-height: calc(0.5rem + 2.75vw)

.map
  &--wrapper
    width: 100%
    display: flex

    iframe
      width: 100%

@media screen and ( max-width: 1366px)
  .contacts
    padding: 10% 0 0

@media screen and ( max-width: 1280px)
  .contacts
    // padding: 12.5% 0 0
    // &__title
    //   padding: calc(2% + 2.5vw) 7.5%

@media screen and ( max-width: 1024px)
  .contacts
    padding: 12.5% 0 0
    &__title
      font-size: calc(0.5rem + 3vw)
      line-height: calc(0.5rem + 3vw)

@media screen and ( max-width: 768px)
  .contacts
    padding: 17.5% 0 0
    &__title
      font-size: calc(0.5rem + 3.5vw)
      line-height: calc(0.5rem + 3.5vw)

@media screen and ( max-width: 480px)
  .contacts
    padding: 25% 0 0
    &__title
      font-size: calc(0.5rem + 5vw)
      line-height: calc(0.5rem + 5vw)

// @media screen and (max-width: 1366px)
//   .contacts
//     &--wrapper
//       .submenu-links__item
//         font-size: 1.25rem

// @media screen and (max-width: 1024px)
//   .contacts

//     &--wrapper
//       align-items: flex-start
//       margin-bottom: 2.5%
//       width: 100%

//     &__item
//       flex-direction: row
//       flex-wrap: wrap

//       .shop-location
//         width: 50%
//         margin-bottom: 5%
//         &:nth-child(2n)
//           align-items: flex-end
//           & > ul li
//             text-align: right

//     .img-wrapper
//       width: 100%
