
@import "../helpers/_var"

.object
    width: 100%
    display: flex
    // min-height: 100vh
    flex-direction: column
    width: 87.5%
    margin-left: auto
    margin-bottom: 5%
    position: relative

    &__title
        width: 100%
        justify-content: center
        align-items: center
        font-size: calc(0.25rem + 2vw)
        line-height: calc(0.5rem + 2.75vw)
        position: relative
        &::before
            position: absolute
            top: 0
            left: 0
            transform: translate(-15%, 0%)
            width: 100%
            height: 100%
            display: block
            content: "Об'єкти"
            font-size: calc(5rem + 2.5vw)
            line-height: calc(0.75rem + 2.75vw)
            color: rgba(0,0,0,0.15)

    &__blockquote
        bottom: 7.5%
        left: 55%
        position: absolute
        border-left: 5px solid rgba($black, 0.35)
        padding: calc(0.25rem + 0.25vw) calc(0.5rem + 0.5vw)
        font-size: calc(0.25rem + 0.75vw)
        line-height: calc(0.5rem + 1.25vw)

.object-box
    display: flex
    width: 100%
    height: 100%
    // min-height: 30vw
    justify-content: space-between
    align-items: center
    margin: 0 0 15% 0

    &__item
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        transition: all 0.3s ease-in-out
        &:hover
            cursor: pointer

        &--big
            // flex: 2 1 calc(100% / 3)
        &--center
            transform: translateY(20%)
        &--bottom
            transform: translateY(40%)

.object-description

    &__img
        display: flex
        position: relative
        width: 100%
        overflow: hidden
        img
            width: 100%
            height: 100%
            object-fit: cover

    &--wrapper
        display: flex
        flex-direction: column
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        padding: 7.5%
        transition: all 0.3s ease-in-out
        background-image: linear-gradient(to bottom, rgba($light-blue, 1) 0%, rgba($light-blue, 0.0001) 100%)

    &__title
        font-size: calc(0.25rem + 1.5vw)
        color: $white
        line-height: calc(0.5rem + 2vw)
        display: inline-block

    &__icon
        margin: calc(0.25rem + 1vw) 0
        color: $white
        width: calc(0.5rem + 2vw)
        height: calc(0.5rem + 2vw)
        border-radius: 50%
        border: 2px solid $white
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        font-size: calc(0.25rem + 2vw)
        line-height: calc(0.5rem + 2.25vw)
        // background: url('../') center / contain no-repeat

.align-left
    align-items: flex-end
    text-align: right

@media screen and ( max-width: 1280px)
    .object
        width: 92.5%

@media screen and ( max-width: 1024px)
    .object
        &__blockquote
            bottom: 7.5%
            font-size: calc(0.5rem + 0.75vw)

@media screen and ( max-width: 768px)
    .object
        &__title
            font-size: calc(0.25rem + 4vw)
            line-height: calc(0.5rem + 4vw)
@media screen and ( max-width: 700px)

    .object
        margin: 0 auto 5%
        width: 85%

        &__blockquote
            bottom: 45%
            transform: translateY(-25%)
            left: 0
            width: 50%

        &__title
            padding-bottom: 1rem

    .object-box
        flex-direction: row-reverse
        flex-wrap: wrap
        &__item
            &--big
                order: 1
            &--center,
            &--bottom
                order: 2
                width: 50%
                transform: translateY(0)

            &--bottom
                transform: translateY(25%)

@media screen and ( max-width: 480px)
    .object
        margin-bottom: 10%
        &__blockquote
            bottom: 35%

    .object-box
        &__item
            &--bottom
                transform: translateY(50%)
